.display-1{
    font-size: 5vw;    
}
body {
    padding: ;
}
/* hover text */
#showHover {
    padding-top: 5px;
    padding-bottom: 5px;
    color: grey;
    font-size: 15px;
    height: 30px;
    white-space: pre;
}
#black {
    color:darkorange;
    font-size: 25px;
}
/* nav bar */
#theme {    /* Theme mode button */
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.navbar-nav a{
    padding-right: 10px;
}
@media screen and (max-width:990px){
    #theme {
        margin-top: 10px;
        margin-left: 3px;
        margin-bottom: 10px;
    }
}
#bar {
    background-color: #0db5c4 ;
    border-bottom: 5px solid #b26c27;
    color: white;
}
.bar {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}
.act {
    cursor: default;
    background-color: #4bcdd8;
    border-radius: 5px;
}
.dark.act{
    background-color: #4c6163;
    border-radius: 5px;
}

/* Body */
.tag{
    display: block;
    padding-top: 3%;
}
#amount {
    width: 100%;
    max-width: 210px;
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
}
@media screen and (max-width:800px){
    .hide {
        display: none;
    }
}
#home {
    margin-top: 10px;
    padding: 10px;
}
/* Table */
#table {
    margin-top: 20px;
    overflow-wrap: break-word;
}
.content-holder {
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#indicateimage {    
    vertical-align: middle;
}
#basehead {
    text-align: center;
}
#addColumn {
    display: inline-block;
}
#addRow {
    margin-left: 10px;
    display: inline-block;
}
.trashcan-dark{
    display: none;
}
.value {
}
.value:hover {
    background-color: grey;
    color: white;
}
.countrybtn {
    text-align: center;
}
/* Historical page */
#histoutputfield{
    padding-top: 1.5%;
}
.showdiv {    
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Dark mode */
.dark {
    background: #313947;
    color: #888888;
}
.dark input:focus {
    background: #313947;
    color: #888888;
}
.dark select {
    border-color: #888888;
}
.dark select::after {
    color: white;
    border-top:6px solid #888888;
}
.dark.table {
    border-top: 1px solid #888888;
}

/* country flag */
.flag {
    padding-right: 20px;
}
.indicateimage {
    padding-left: 10px;
    padding-top: 10px;
}



